.wrap{
	width: 1200px;
	margin:0 auto;
	background-color: #fff;
}
.up>.up-u{
	overflow:hidden;
}
.up>.up-u>h2{
	font-size: 30px;
	line-height: 60px;
	margin-top: 16px;
	margin-left: 45px;
}
.up-u{
	background-color: #fdd900;
}
.up>img{
	margin-bottom: 6px;
}
.goods{
	width: 1100px;
	margin: 0 auto;
	border-top:2px solid #babec9;
	border-bottom:2px solid #babec9 ;
}
.goods .img{
	margin: 10px;
	float: left;
}
.goods .title{
	float: left;
	margin-top: 19px;
	padding-top: 18px;
	border-right: 2px solid #fdd900;
}

.goods .title a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	width: 236px;
	line-height: 20px;
	color: #2a2d32;
	margin-right: 21px;
	margin-bottom: 14px;
}
.goods .title a:hover{
	text-decoration: underline;
	color: hotpink;
}
.goods .detail{
	float: left;
	margin-left: 21px;
	color: #6f7277;
	line-height: 23px;
	margin-top: 24px;
}
.goods .goback,.goods .gocount{
	display: block;
	float: right;
	text-align: center;
	text-decoration: none;
	line-height: 46px;
	color: #010000;
	font-size: 18px;
	background-color: #fdd900;
	margin-top: 34px;
	}
.goods .goback{
	width: 132px;
	margin-right: 10px;
}
.goods .gocount{
	width: 210px;
	margin-right: 11px;
}
.goods .goback:hover{
	background-color: #2b2e33;
	color: #fff;
	}

.goods .gocount:hover{
	background-color: #2b2e33;
	color: #fff;
}
